/* You can add global styles to this file, and also import other style files */
*{
    margin:0;
    padding:0;
    box-sizing: 0;
}

.food-container{
    background-color: #dddddd;
    width: 800px;
    margin-top: 20px;
}
.content-elements{
    height: 90vh;
    
}

.navbar{
    background-color: #5495e1;
}